<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE-edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Title</title>
    <link rel="stylesheet" href="static/style.css">
    <link rel="stylesheet" href="static/color-1.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="static/color-1.css" class="alternate-style" title="color-1" disabled>
    <link rel="stylesheet" href="static/color-2.css" class="alternate-style" title="color-2" disabled>
    <link rel="stylesheet" href="static/color-3.css" class="alternate-style" title="color-3" disabled>
    <link rel="stylesheet" href="static/color-4.css" class="alternate-style" title="color-4" disabled>
    <link rel="stylesheet" href="static/color-5.css" class="alternate-style" title="color-5" disabled>
    <link rel="stylesheet" href="static/style-switcher.css">
</head>
<style>
.aside .nav li{
margin-bottom: 20px;
display:block;
}
.aside .nav li a.active{
color:var(--skin-color);
}

ul{
list-style: none;
}









</style>
<body class="dark">
<div class="main-container">
    <div class="aside">
        <div class="logo">
            <a href="#"><span>S</span>pider</a>
        </div>
        <div class="nav-toggler">
            <span></span>
        </div>
        <ul class="nav">
            <li><a href="#home"><i class="fa fa-home"></i> Home</a></li>
            <li><a href="#about"><i class="fa fa-user"></i> About</a></li>
            <li><a href="#services"><i class="fa fa-list"></i> Services</a></li>
            <li><a href="#portfolio"><i class="fa fa-briefcase"></i> Portfolio</a></li>
            <li><a href="#contact"><i class="fa fa-comments"></i> Contact</a></li>
        </ul>
    </div>
    <div class="main-content">
        <section class="home active section " id="home">
            <div class="container">
                <div class="row">
                    <div class="home-info padd-15">
                        <h3 class="hello"> Hello,Meet the group :<span class="name"> Amanuel Girma</span></h3>
                        <h3 class="my-profession">We are <span class="typing">Web Designers</span></h3>
                        <p><span>S</span>pider is A Website development company that was first established in
                            2022 G.C by a group of friends graduated from University of Gondar In the field of Computer
                            Engineering,Communication Engineering and
                            Computer Science.</p>
                        <!--                        <a href="#contact" class="btn hire me">Download CV</a>-->
                    </div>
                    <div class="home-img padd-15">
                        <img src="static/aman.jpg">
                    </div>
                </div>
            </div>
        </section>


        <section class="about section " id="about">
            <div class="container">
                <div class="row">
                    <div class="section-title padd-15">
                        <h2>About Us</h2>
                    </div>
                </div>
                <div class="row">
                    <div class="about-content padd-15">
                        <div class="row">
                            <div class="about-text padd-15">
                                <h3>Hello I am Amanuel :<span> Co-founder</span></h3>
                                <p>I am an Electrical and Computer Graduate from the University of Gondar.
                                    Spider was a long time dream for us and As true partners to our clients, we solve
                                    problems,
                                    not tickets. Our developers, strategists, and designers are autonomous, outspoken,
                                    collaborative, and love doing the work. We’ve kept our team small and our org flat
                                    on purpose:
                                    that’s how we stay nimble, transparent, and human-centric. currently We are six full
                                    time
                                    employees and are headquartered in Addis Ababa, Ethiopia. </p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="personal-info padd-15">
                                <div class="row">
                                    <div class="info-item padd-15">
                                        <p>Number of Developers :<span>Six</span></p>
                                    </div>
                                    <div class="info-item padd-15">
                                        <p>Location :<span>Addis Ababa</span></p>
                                    </div>
                                    <div class="info-item padd-15">
                                        <p>Website :<span>www.domain.com</span></p>
                                    </div>
                                    <div class="info-item padd-15">
                                        <p>Email :<span>amanuelgirma108@gmail.com</span></p>
                                    </div>
                                    <div class="info-item padd-15">
                                        <p>Phone :<span>0919485189</span></p>
                                    </div>
                                    <div class="info-item padd-15">
                                        <p>City :<span>Addis Ababa</span></p>
                                    </div>
                                    <div class="info-item padd-15">
                                        <p>Freelance :<span>Available</span></p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="buttons padd-15">
                                        <a href="#contact" data-section-index="1" class="btn hire-me">Hire Us</a>
                                    </div>
                                </div>
                            </div>
                            <div class="skills padd-15">
                                <div class="row">
                                    <div class="skill-item padd-15">
                                        <h5>CSS</h5>
                                        <div class="progress">
                                            <div class="progress-in" style="width:76%;"></div>
                                            <div class="skill-percent">76%</div>
                                        </div>
                                    </div>
                                    <div class="skill-item padd-15">
                                        <h5>JS</h5>
                                        <div class="progress">
                                            <div class="progress-in" style="width:86%;"></div>
                                            <div class="skill-percent">86%</div>
                                        </div>
                                    </div>
                                    <div class="skill-item padd-15">
                                        <h5>HTML</h5>
                                        <div class="progress">
                                            <div class="progress-in" style="width:80%;"></div>
                                            <div class="skill-percent">80%</div>
                                        </div>
                                    </div>
                                    <div class="skill-item padd-15">
                                        <h5>MEARN</h5>
                                        <div class="progress">
                                            <div class="progress-in" style="width:90%;"></div>
                                            <div class="skill-percent">90%</div>
                                        </div>
                                    </div>
                                    <div class="skill-item padd-15">
                                        <h5>Java Spring Boot</h5>
                                        <div class="progress">
                                            <div class="progress-in" style="width:70%;"></div>
                                            <div class="skill-percent">70%</div>
                                        </div>
                                    </div>
                                    <div class="skill-item padd-15">
                                        <h5>Python</h5>
                                        <div class="progress">
                                            <div class="progress-in" style="width:80%;"></div>
                                            <div class="skill-percent">80%</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
<!--                        <div class="row">-->
<!--                            <div class="education padd-15">-->
<!--                                <h3 class="title">Education</h3>-->
<!--                                <div class="row">-->
<!--                                    <div class="timeline-box padd-15">-->
<!--                                        <div class="timeline shadow-dark">-->
<!--                                            <div class="timeline-item">-->
<!--                                                <div class="circle-dot"></div>-->
<!--                                                <h3 class="timeline-date">-->
<!--                                                    <i class="fa fa-calendar"></i>2013-2015-->
<!--                                                </h3>-->
<!--                                                <h4 class="timeline-title">BSc in Electrical and Computer-->
<!--                                                    Engineering</h4>-->
<!--                                                <p class="timeline-text">-->
<!--                                                    In this course, you’ll learn all about becoming a web developer,-->
<!--                                                    from the-->
<!--                                                    responsibilities-->
<!--                                                    that a web developer performs on a day-to-day basis to the set of-->
<!--                                                    skills that you’d-->
<!--                                                    need to-->
<!--                                                    succeed in such a role. And, of course, you’ll also get your hands-->
<!--                                                    dirty with code:-->
<!--                                                    We’ll-->
<!--                                                    introduce you to the fundamental building blocks of the web and make-->
<!--                                                    sure you leave-->
<!--                                                    this-->
<!--                                                    course having developed your very first website!</p>-->
<!--                                            </div>-->
<!--                                            <div class="timeline-item">-->
<!--                                                <div class="circle-dot"></div>-->
<!--                                                <h3 class="timeline-date">-->
<!--                                                    <i class="fa fa-calendar"></i>2013-2015-->
<!--                                                </h3>-->
<!--                                                <h4 class="timeline-title">BSc in Electrical and Computer-->
<!--                                                    Engineering</h4>-->
<!--                                                <p class="timeline-text">-->
<!--                                                    In this course, you’ll learn all about becoming a web developer,-->
<!--                                                    from the-->
<!--                                                    responsibilities-->
<!--                                                    that a web developer performs on a day-to-day basis to the set of-->
<!--                                                    skills that you’d-->
<!--                                                    need to-->
<!--                                                    succeed in such a role. And, of course, you’ll also get your hands-->
<!--                                                    dirty with code:-->
<!--                                                    We’ll-->
<!--                                                    introduce you to the fundamental building blocks of the web and make-->
<!--                                                    sure you leave-->
<!--                                                    this-->
<!--                                                    course having developed your very first website!</p>-->
<!--                                            </div>-->
<!--                                            <div class="timeline-item">-->
<!--                                                <div class="circle-dot"></div>-->
<!--                                                <h3 class="timeline-date">-->
<!--                                                    <i class="fa fa-calendar"></i>2013-2015-->
<!--                                                </h3>-->
<!--                                                <h4 class="timeline-title">BSc in Electrical and Computer-->
<!--                                                    Engineering</h4>-->
<!--                                                <p class="timeline-text">-->
<!--                                                    In this course, you’ll learn all about becoming a web developer,-->
<!--                                                    from the-->
<!--                                                    responsibilities-->
<!--                                                    that a web developer performs on a day-to-day basis to the set of-->
<!--                                                    skills that you’d-->
<!--                                                    need to-->
<!--                                                    succeed in such a role. And, of course, you’ll also get your hands-->
<!--                                                    dirty with code:-->
<!--                                                    We’ll-->
<!--                                                    introduce you to the fundamental building blocks of the web and make-->
<!--                                                    sure you leave-->
<!--                                                    this-->
<!--                                                    course having developed your very first website!</p>-->
<!--                                            </div>-->
<!--                                        </div>-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                            <div class="experience padd-15">-->
<!--                                <h3 class="title">Experience</h3>-->
<!--                                <div class="row">-->
<!--                                    <div class="timeline-box padd-15">-->
<!--                                        <div class="timeline shadow-dark">-->
<!--                                            <div class="timeline-item">-->
<!--                                                <div class="circle-dot"></div>-->
<!--                                                <h3 class="timeline-date">-->
<!--                                                    <i class="fa fa-calendar"></i>2013-2015-->
<!--                                                </h3>-->
<!--                                                <h4 class="timeline-title">BSc in Electrical and Computer-->
<!--                                                    Engineering</h4>-->
<!--                                                <p class="timeline-text">-->
<!--                                                    In this course, you’ll learn all about becoming a web developer,-->
<!--                                                    from the-->
<!--                                                    responsibilities-->
<!--                                                    that a web developer performs on a day-to-day basis to the set of-->
<!--                                                    skills that you’d-->
<!--                                                    need to-->
<!--                                                    succeed in such a role. And, of course, you’ll also get your hands-->
<!--                                                    dirty with code:-->
<!--                                                    We’ll-->
<!--                                                    introduce you to the fundamental building blocks of the web and make-->
<!--                                                    sure you leave-->
<!--                                                    this-->
<!--                                                    course having developed your very first website!</p>-->
<!--                                            </div>-->
<!--                                            <div class="timeline-item">-->
<!--                                                <div class="circle-dot"></div>-->
<!--                                                <h3 class="timeline-date">-->
<!--                                                    <i class="fa fa-calendar"></i>2013-2015-->
<!--                                                </h3>-->
<!--                                                <h4 class="timeline-title">BSc in Electrical and Computer-->
<!--                                                    Engineering</h4>-->
<!--                                                <p class="timeline-text">-->
<!--                                                    In this course, you’ll learn all about becoming a web developer,-->
<!--                                                    from the-->
<!--                                                    responsibilities-->
<!--                                                    that a web developer performs on a day-to-day basis to the set of-->
<!--                                                    skills that you’d-->
<!--                                                    need to-->
<!--                                                    succeed in such a role. And, of course, you’ll also get your hands-->
<!--                                                    dirty with code:-->
<!--                                                    We’ll-->
<!--                                                    introduce you to the fundamental building blocks of the web and make-->
<!--                                                    sure you leave-->
<!--                                                    this-->
<!--                                                    course having developed your very first website!</p>-->
<!--                                            </div>-->
<!--                                            <div class="timeline-item">-->
<!--                                                <div class="circle-dot"></div>-->
<!--                                                <h3 class="timeline-date">-->
<!--                                                    <i class="fa fa-calendar"></i>2013-2015-->
<!--                                                </h3>-->
<!--                                                <h4 class="timeline-title">BSc in Electrical and Computer-->
<!--                                                    Engineering</h4>-->
<!--                                                <p class="timeline-text">-->
<!--                                                    In this course, you’ll learn all about becoming a web developer,-->
<!--                                                    from the-->
<!--                                                    responsibilities-->
<!--                                                    that a web developer performs on a day-to-day basis to the set of-->
<!--                                                    skills that you’d-->
<!--                                                    need to-->
<!--                                                    succeed in such a role. And, of course, you’ll also get your hands-->
<!--                                                    dirty with code:-->
<!--                                                    We’ll-->
<!--                                                    introduce you to the fundamental building blocks of the web and make-->
<!--                                                    sure you leave-->
<!--                                                    this-->
<!--                                                    course having developed your very first website!</p>-->
<!--                                            </div>-->
<!--                                        </div>-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        </div>-->
                    </div>
                </div>
            </div>
        </section>
        <section class="service section" id="services">
            <div class="container">
                <div class="row">
                    <div class="section-title padd-15">
                        <h2>Services</h2>
                    </div>
                </div>
                <div class="row">
                    <div class="service-item padd-15">
                        <div class="service-item-inner">
                            <div class="icon">
                                <i class="fa fa-mobile-alt"></i>
                            </div>
                            <h4>Digital Transformation</h4>
                            <p>We partner with CTOs and CIOs to co-create and execute long-term strategies that increase
                                sales, brand awareness, and operational efficiency.</p>
                        </div>
                    </div>

                    <div class="service-item padd-15">
                        <div class="service-item-inner">
                            <div class="icon">
                                <i class="fa fa-laptop-code"></i>
                            </div>
                            <h4>Application Design & Development</h4>
                            <p>Turnkey digital products, services, and interactive experiences we help you take from
                                ideation to implementation. </p>
                        </div>
                    </div>

                    <div class="service-item padd-15">
                        <div class="service-item-inner">
                            <div class="icon">
                                <i class="fa fa-palette"></i>
                            </div>
                            <h4>ANDROID APP DEVELOPMENT</h4>
                            <p>Being an elite Android app development company, we engineer apps that solve users’
                                pain-points bringing delight in their day-to-day life</p>
                        </div>
                    </div>

                    <div class="service-item padd-15">
                        <div class="service-item-inner">
                            <div class="icon">
                                <i class="fa fa-code"></i>
                            </div>
                            <h4>PROGRESSIVE WEB APP DEVELOPMENT</h4>
                            <p>Merging the benefits of mobile with websites,
                                we take pride in delivering progressive web app development services that are fast,
                                engaging, and reliable </p>
                        </div>
                    </div>

                    <div class="service-item padd-15">
                        <div class="service-item-inner">
                            <div class="icon">
                                <i class="fa fa-search"></i>
                            </div>
                            <h4>WEB APPLICATION DEVELOPMENT</h4>
                            <p>We walk the extra mile to develop your web apps that are well-planned,
                                highly scalable, and secure. A proud web application development company.</p>
                        </div>
                    </div>
                    <div class="service-item padd-15">
                        <div class="service-item-inner">
                            <div class="icon">
                                <i class="fa fa-bullhorn"></i>
                            </div>
                            <h4>Consulting</h4>
                            <p>Technology is instrumental in supporting your business needs as it evolves over time.
                                With the right combination of software, you can successfully solve the toughest business
                                challenges within the standard workflows. Our enterprise consulting services will help
                                you on that journey.</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="portfolio section" id="portfolio">
            <div class="container">
                <div class="row">
                    <div class="section-title padd-15">
                        <h2>Portfolio</h2>
                    </div>
                </div>
                <div class="row">
                    <div class="portfolio-heading padd-15">
                        <h2>Previous Projects :</h2>
                    </div>
                </div>
                <div class="row">
                    <div class="portfolio-item padd-15">
                        <div class="portfolio-item-inner shadow-dark">
                            <div class="portfolio-img">
                                <img src="static/img1.jpg" alt="">
                            </div>
                        </div>
                    </div>
                    <div class="portfolio-item padd-15">
                        <div class="portfolio-item-inner shadow-dark">
                            <div class="portfolio-img">
                                <img src="static/img2.jpg" alt="">
                            </div>
                        </div>
                    </div>
                    <div class="portfolio-item padd-15">
                        <div class="portfolio-item-inner shadow-dark">
                            <div class="portfolio-img">
                                <img src="static/img3.jpg" alt="">
                            </div>
                        </div>
                    </div>
                    <div class="portfolio-item padd-15">
                        <div class="portfolio-item-inner shadow-dark">
                            <div class="portfolio-img">
                                <img src="static/img4.jpg" alt="">
                            </div>
                        </div>
                    </div>
                    <div class="portfolio-item padd-15">
                        <div class="portfolio-item-inner shadow-dark">
                            <div class="portfolio-img">
                                <img src="static/img5.jpg" alt="">
                            </div>
                        </div>
                    </div>
                    <div class="portfolio-item padd-15">
                        <div class="portfolio-item-inner shadow-dark">
                            <div class="portfolio-img">
                                <img src="static/img6.jpg" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="contact section " id="contact">
            <div class="container">
                <div class="row">
                    <div class="section-title padd-15">
                        <h2>Contact Us</h2>
                    </div>
                </div>
                <h3 class="contact-title padd-15">Have Any Question ?</h3>
                <h4 class="contact-sub-title padd-15">We are at Your Service</h4>
                <div class="row">
                    <div class="contact-info-item padd-15">
                        <div class="icon"><i class="fa fa-phone"></i></div>
                        <h4> Call Us On</h4>
                        <p>+251 919485189</p>
                    </div>
                    <div class="contact-info-item padd-15">
                        <div class="icon"><i class="fa fa-map-marker-alt"></i></div>
                        <h4> office</h4>
                        <p>Addis Ababa</p>
                    </div>

                    <div class="contact-info-item padd-15">
                        <div class="icon"><i class="fa fa-envelope"></i></div>
                        <h4> Email</h4>
                        <p>amanuelgirma108@gmail.com</p>
                    </div>
                    <div class="contact-info-item padd-15">
                        <div class="icon"><i class="fa fa-globe-europe"></i></div>
                        <h4> Website</h4>
                        <p>www.domain.com</p>
                    </div>
                </div>
                <h3 class="contact-title padd-15">SEND US AN EMAIL </h3>
                <h4 class="contact-sub-title padd-15">We are Very Responsive</h4>
                <form method="post" name="send_message" id="send_message">
                    <div class="row">
                        <div class="contact-form padd-15">
                            <div class="row">
                                <div class="form-item col-6 padd-15">
                                    <div class="form-group">
                                        <input type="text" name="Name" id="Name" class="form-control"
                                               placeholder="Name">
                                    </div>
                                </div>
                                <div class="form-item col-6 padd-15">
                                    <div class="form-group">
                                        <input type="email" name="Email" id="Email" class="form-control"
                                               placeholder="Email">
                                    </div>
                                </div>
                            </div>


                            <div class="row">
                                <div class="form-item col-12 padd-15">
                                    <div class="form-group">
                                        <input type="text" name="Subject" id="Subject" class="form-control"
                                               placeholder="Subject">
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="form-item col-12 padd-15">
                                    <div class="form-group">
                                        <textarea class="form-control" id="Message " name="Message"
                                                  placeholder="Message"></textarea>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="form-item col-12 padd-15">
                                    <button type="submit" class="btn">Send Message</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </section>
    </div>
</div>
<div class="style-switcher">
    <div class="style-switcher-toggler s-icon">
        <i class="fas fa-cog fa-spin"></i>
    </div>
    <div class="day-night s-icon">
        <i class="fas "></i>
    </div>
    <h4>Theme Colors</h4>
    <div class="colors">
        <span class="color-1" onclick="setActiveStyle('color-1')"></span>
        <span class="color-2" onclick="setActiveStyle('color-2')"></span>
        <span class="color-3" onclick="setActiveStyle('color-3')"></span>
        <span class="color-4" onclick="setActiveStyle('color-4')"></span>
        <span class="color-5" onclick="setActiveStyle('color-5')"></span>
    </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/typed.js/2.0.12/typed.min.js" referrerpolicy="no-referrer"></script>
<script src="static/script.js"></script>
<script src="static/style-switcher.js"></script>

</body>
</html>